<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/asset/http.svg" height="23" /></a>
  </div>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/specs/">HTTP Documentation Home</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">HTTP Specs</li>
            <li><a href="/specs/rfc7230.html">HTTP/1.1: Message Syntax and Routing</a></li>
            <li><a href="/specs/rfc7231.html">HTTP/1.1: Semantics and Content</a></li>
            <li><a href="/specs/rfc7232.html">HTTP/1.1: Conditional Requests </a></li>
            <li><a href="/specs/rfc7233.html">HTTP/1.1: Range Requests</a></li>
            <li><a href="/specs/rfc7234.html">HTTP/1.1: Caching</a></li>
            <li><a href="/specs/rfc7235.html">HTTP/1.1: Authentication</a></li>
            <li><a href="/specs/rfc7540.html">HTTP/2</a></li>
            <li><a href="/specs/rfc7541.html">HPACK</a></li>
            <li><a href="/specs/rfc6265.html">HTTP State Management Mechanism</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Extension Registries</li>
            <li><a href="http://www.iana.org/assignments/http-methods/">HTTP Method Registry</a></li>
            <li><a href="http://www.iana.org/assignments/http-status-codes/">HTTP Status Code Registry</a></li>
            <li><a href="http://www.iana.org/assignments/message-headers/">Message Header Registry</a></li>
            <li><a href="http://www.iana.org/assignments/http-authschemes/">HTTP Authentication Scheme Registry</a></li>
            <li><a href="http://www.iana.org/assignments/http-cache-directives/">HTTP Cache Directive Registry</a></li>
            <li><a href="http://www.iana.org/assignments/http-parameters/">HTTP Parameters Registry</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">FAQs<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/faq/spec/">FAQs for Spec Writers</a></li>
            <li><a href="https://http2.github.io/faq/">HTTP/2 FAQ</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work in Progress<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">HTTP Extensions</li>
            <li><a href="https://github.com/httpwg/http-extensions#draft-http-extension-specifications">HTTP Extensions Repository</a></li>
            <li><a href="https://github.com/httpwg/http-extensions/issues">HTTP Extensions Issues</a></li>
            <li><a href="https://github.com/httpwg/wiki/wiki/WatchList">Future Work</a></li>          
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Participate<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about/">About the HTTP Working Group</a></li>
            <li class="divider"></li>
            <li><a href="https://github.com/httpwg/http-extensions/blob/master/CONTRIBUTING.md">Contribution Policy</a></li>
            <li><a href="http://datatracker.ietf.org/wg/httpbis/charter/">WG Charter</a></li>
            <li><a href="http://lists.w3.org/Archives/Public/ietf-http-wg/">Group Mailing List <span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/httpwg/wg-materials">Meeting Materials Repository</a></li>
          </ul>
      </li>
            
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://twitter.com/http_wg"><img src="https://g.twimg.com/Twitter_logo_blue.png" width="22" height="16" /></a></li>
    </ul>
  </div>
</nav>