<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/asset/http.svg" height="23"></a>
  </div>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/docs/">Documentation Home</a></li>
            <li class="divider"></li>
            <li><a href="/doc/faq/">General HTTP FAQs</a></li>            
            <li><a href="/doc/faq_dev/">HTTP Implementation FAQs</a></li>            
            <li><a href="/doc/faq_spec/">HTTP Specification FAQs</a></li>            
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work in Progress<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://http2.github.io/">HTTP/2</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about/">About the HTTP Working Group</a></li>
            <li class="divider"></li>
            <li><a href="http://datatracker.ietf.org/wg/httpbis/charter/">WG Charter</a></li>
            <li><a href="http://lists.w3.org/Archives/Public/ietf-http-wg/">Group Mailing List <span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a href="https://github.com/httpwg/wg-materials">Meeting Materials Repository</a></li>
            <li><a href="http://tools.ietf.org/wg/httpbis/minutes">Official Meeting Minutes</a></li>
            <li><a href="http://www.ietf.org/jabber/logs/httpbis/">Jabber Logs</a></li>
          </ul>
      </li>
            
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://twitter.com/http_wg"><img src="https://g.twimg.com/Twitter_logo_blue.png" width="28" height="23"></a></li>
    </ul>
  </div>
</nav>