body {
  padding-top: 100px;
  padding-bottom: 200px;
  height: 100%;
}
*:not(*[href])[id]:before  { 
  display: block; 
  content: " "; 
  margin-top: -65px; 
  height: 65px; 
  visibility: hidden; 
}
.navbar-right {
  padding-right: 15px;
}
