<!DOCTYPE HTML> 

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/asset/site.css" rel="stylesheet">
    <meta property="og:type" content="website">
    <meta property="og:title" content="IETF HTTP Working Group">
    <meta property="og:description" content="We maintain and develop the Hypertext Transfer Protocol - the core protocol of the World Wide Web">
    <meta property="og:url" content="https://httpwg.org/">
    <meta property="og:site_name" content="IETF HTTP Working Group">
    <meta property="og:image" content="https://httpwg.org/asset/http-sq.png">
  </head>
  <body>

    {% include navbar.html %}
            
      <div class="container">

        {% include banner.html %}

        {{ content }}

      </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>