<!DOCTYPE HTML> 

<html lang="en">
  <head>
    {% include headmatter.html %}
  </head>
  <body>
    
    {% include navbar.html %}


    {% if page.banner_img %}
    <image class="img-responsive hidden-xs" src="{{ page.banner_img }}">
    {% endif %}
        
      <div class="container">

        <div class="lead">
          <h1>{{ page.title }}</h1>
        </div>

        {{ content }}

      </div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>